<%- include("layout/header") %>
    <main>
        <form action="/" method="post">
            <input type="text" name="programmingLanguage" placeholder="Programming Language">
            <button type="submit">Add Language</button>
        </form>

        <ul>
            <% if (pLNames.length> 0) { %>
                <!-- <li>
                    <%= pLNames[pLNames.length - 1] %>
                </li> -->

                <% for (let x=0; x < pLNames.length; x++) { %>
                    <li>
                        <%= pLNames[x] %>
                    </li>
                    <% } %>
                        <% } else { %>
                            <p>No data found!</p>
                            <% } %>
        </ul>
    </main>
    <%- include("layout/footer") %>